@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin: 0 0;
}

header {
	display: fixed;
}

h2 {
	background: #16a085;
	color: white;
	margin: 0 0;
	padding: 6px 16px;
}

footer {
	text-align: center;
}

